<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @todo_list.name %>
</p>

<strong>Tasks:</strong>

<table>
  <thead>
    <tr>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @todo_list.tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) if params['format'].nil? %> |
<%= link_to 'Back', todo_lists_path if params['format'].nil? %>
<%= link_to( 'Export CSV', todo_list_path(format: "csv" )) if params['format'].nil? %>
<%= link_to( 'Export PDF', todo_list_path(format: "pdf" )) if params['format'].nil? %>
