<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='d-flex flex-column'>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <div class='d-flex justify-content-between'>
        <div class='d-flex justify-content-start align-items-center'>
          <%= link_to(image_tag('logo.png', class: 'avatar'), root_path, class: 'logo-image') %>
          <%= link_to('Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-light') %>
        </div>

        <div class='d-flex justify-content-end'>
          <% if current_user.avatar.present? %>
            <%= image_tag(current_user.avatar, class: 'avatar') %>
          <% end %>
          <%= link_to('Edit Profile', edit_user_path(current_user), class: 'btn btn-light') %>
        </div>
      </div>
    <% else %>
      <%= link_to('Sign in', new_user_session_path) %>
    <% end %>
    <%= yield %>
  </body>
</html>
